#g-Artboard_1-box .g-artboard {
  margin:0 auto;
}
#g-Artboard_1-box p {
  margin:0;
}
.g-aiAbs {
  position:absolute;
}
.g-aiImg {
  display:block;
  width:100% !important;
  height: 100% !important;
}
.g-aiSymbol {
  position: absolute;
  box-sizing: border-box;
}
.g-aiPointText p { white-space: nowrap; }
svg{ vector-effect: non-scaling-stroke; }
#g-artisan-file-Artboard_1 {
  position:relative;
  overflow:hidden;
}
#g-artisan-file-Artboard_1 p {
  font-weight:700;
  font-size:28px;
  line-height:40px;
  filter:alpha(opacity=100);
  -ms-filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity:1;
  letter-spacing:0em;
  text-align:left;
  color:rgb(0,0,0);
  text-transform:none;
  padding-bottom:0;
  padding-top:0;
  mix-blend-mode:normal;
  font-style:normal;
  height:auto;
  position:static;
}
#g-artisan-file-Artboard_1 .g-pstyle0 {
  color:rgb(242,242,242);
}
