div.header {
  text-align: center;
  @media screen and (max-width: 600px){
    width: 95%;
    margin: 0 auto;
  }
  h1 {
    margin-top: 0px;
    font-size: 3rem;
    @media screen and (max-width: 600px){
      font-size: 1.6rem;
    }
  }
  h2 {
    @media screen and (max-width: 600px){
      font-size: .9rem;
    }
  }

  img {
    width: 100px;
    margin: 20px auto 8px;
  }
}
