div.page-container {
  max-width: 1000px;
  margin: 0 auto;
  font-family: ccmeanwhile, sans-serif;
  a {
    color: #ef4434;
    text-decoration: none;
    &:hover, &:focus, &.active {
      color: #ffc562;
    }
  }
}
